<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CenterManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="CenterManagerEntities" connectionString="metadata=res://*/Control.DBControl.Model1.csdl|res://*/Control.DBControl.Model1.ssdl|res://*/Control.DBControl.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LCMVV7J;initial catalog=CenterManager;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings><userSettings>
        <CenterManager.Properties.Settings>
            <setting name="ProgramName" serializeAs="String">
                <value>اسم البرنامج</value>
            </setting>
            <setting name="StartupPage" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Server Name</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowsAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Demo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DemoDays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartDay" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialNumber" serializeAs="String">
                <value>P852u8xegYxdokc</value>
            </setting>
        </CenterManager.Properties.Settings>
    </userSettings>
</configuration>